tr:nth-child(even) 
{background-color: rgb(212, 185, 32);
    text-align: center;} 

#treq{
    text-align: center;
    width: 15em;
    margin: auto;
    border: 1 solid black;
    border-radius:10;
    justify-content: center;
}

.Title{
    text-align: center;
    background-color: rgb(212, 185, 32);
    border: 1em solid black;
    justify-content: center;
}

.Food{
    text-align: center;
    background-color: rgb(177, 174, 174);
    border: .5em solid black;
    margin: auto;   
    justify-content: center;
}

.Form{
    text-align: center;
    background-color: rgb(212, 185, 32);
    border: .5em solid black;
    
    justify-content: center;
}

.Body{
    text-align: center;
    background-color: rgb(177, 174, 174);
    border: 1em solid black;
    
    justify-content: center;
}

.List{
    text-align: center;
    
    justify-content: center;
}